.container-fluid {
    margin: 0;
    padding: 0;
}

.tituloEjemplo {
    background-color: #fff999;
    color: #000333;
    text-align: center;
    padding: 0.5rem;
    /* margin-top: 10px; */
    margin: 10px auto 40px auto;
    border: 1px solid;
}

p {
    font-family: sans-serif;
    font-size: 1.2em;
}